# Jupyter Notebook specific
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/

# Python environment and cache
__pycache__/
*.py[cod]
*$py.class
.venv
venv
env/
bin/
lib/

# Data and Logs
*.log
data/
!data/.gitkeep

# IDE and System files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Large/Output files (Optional)
*.csv
.venv/*
.env